<div class="my-3 mx-4">
    <div class="flex flex-row flex-grow justify-between bg-white p-4 items-center border rounded-lg shadow">
        <div>
            <p class="text-[16px] text-[#777] py-0.5">Paid Invoices</p>
            <p class="text-[26px] font-bold">$2,307.40</p>
            <p class="text-[14px] text-[#777] py-0.5">Last update Jan 20</p>
        </div>
        <div class=" flex border w-[35px] h-[35px] items-center justify-center rounded-lg">
            <ng-icon size="20px" color="purple" name="saxCardOutline"></ng-icon>
        </div>
    </div>
</div>